<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Project.Properties.Settings.ETRADE4ConnectionString"
            connectionString="Data Source=LAPTOP-SPIDVNKL\MSSQLSERVER077;Initial Catalog=ETRADE4;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>